<div class="conversation">
  {{#each model.messages as |message|}}
    <img src="{{ message.participant.user.profile.userPicUrl }}" alt="" class="circle">
    <span class="title">{{ message.participant.user.profile.firstName }}</span>
    <div class="message">
      <p>{{ message.text }}</p>
    </div>
  {{/each}}
</div>

{{#simple-form onsubmit=(action 'sendMessage' model) as |inputs|}}
  {{input type="text" name="name" value=inputs.text placeholder="Message text" disabled=disableForm}}
  <button type="submit" disabled={{disableForm}}>Send</button>
{{/simple-form}}
