<div class="conversation__chip">
  <div class="conversation__chip__msg">
    <div class="conversation__chip__msg__1">
      {{#link-to "user.conversation.index"}}
      <i class="tiny material-icons">chat</i> Back to Conversations
      {{/link-to}}
    </div>
    <div class="conversation__chip__msg__2">
      Messaging
      {{#other-participant conversation=model as |other|}}

        <span>{{ other.user.profile.firstName }}</span>

      {{/other-participant}}
    </div>
  </div>
  </div>

  <div class="messages__window">
    <div class="messages__window__convo">
      {{#each (sort-by "id" model.messages) as |message|}}
        <div class="each-message">
          <div class="each-message__left">
            <div class="each-message__left__frame">
              <img src="{{ message.participant.user.profile.fullUserPicUrl }}" alt=" " class="each-message__left__pic circle ">
            </div>
            <span class="title ">{{ message.participant.user.profile.firstName }}</span>
          </div>
          <div class="each-message__right ">
            <div class="each-message__right__text">{{ message.text }}</div>
          </div>
        </div>
      {{/each}}
    </div>

    {{#simple-form onsubmit=(action 'sendMessage' model) class="messages__window__keyboard" as |inputs|}}
      <div class="messages__window__typing">
        <div class="messages__window__typing__input">{{input type="text" name="name" value=inputs.text placeholder="Type your message here. Hit return to send." disabled=disableForm class="huge-input-field"}}</div>
        <button type="submit" class="huge-send-button messages__window__typing__button" disabled= {{disableForm}}>Send</button>
      </div>
    {{/simple-form}}
  </div>
