{{log model.profile.children}}
<div class="container">
  <div class="card">
    <div class="profile-view-body">
      <div class="profile-view-container">
        {{#simple-form startingValues=model.profile onsubmit=(action "saveProfile" model.profile) as |formValues|}}
          <div class="profile-view-top create-profile">
            <h5 class="card-title">Editing Your Profile</h5>
            <div class="create-profile__main">
              <div class="upload-section">
                <div class="upload-section__wrapper">
                  <div class="ratio-frame">
                    {{#if formValues.uploadFile}}
                      {{local-img file=formValues.uploadFile class="ratio-frame__pic"}}
                    {{else}}
                      <img src="{{ model.profile.fullUserPicUrl }}" class="ratio-frame__pic">
                    {{/if}}
                  </div>
                </div>
                <button type="button" class="btn" {{action "choosePic" formValues}}>Upload Pic</button>
              </div>
              <div class="form-main">
                <div class="row form-row">
                  <div class="row">
                    <div class="input-field col s6">
                      {{input type="text" class="validate" value=formValues.firstName placeholder=model.profile.firstName}}
                      <label class="active" for="first_name">First Name(s)</label>
                    </div>
                    <div class="input-field col s6">
                      {{input type="text" class="validate" value=formValues.lastName placeholder=model.profile.lastName}}
                      <label class="active" for="last_name">Last Name(s)</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{input type="text" class="validate" value=formValues.location placeholder=model.profile.location}}
                      <label class="active" for="name">Location</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 phone-field">
                      {{input type="text" class="validate" value=formValues.phoneNumber placeholder=model.profile.phoneNumber}}
                      <label class="active" for="phone">Phone</label>
                      <p>
                        <input id="show" type="radio" name="phone" value=formValues.numberIsSecret class="with-gap">
                        <label class="active" for="show" class="radio-pref">Show</label>
                      </p>
                      <p>
                        <input id="hide" type="radio" name="phone" value=formValues.numberIsSecret checked class="with-gap">
                        <label class="active" for="hide" class="radio-pref">Hide</label>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{textarea type="text" class="materialize-textarea validate" value=formValues.userBlurb placeholder=model.profile.userBlurb}}
                      <label class="active" for="about">Brief bio that other users will see while browsing (blurb)</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{textarea type="text" class="materialize-textarea validate" value=formValues.userAbout placeholder=model.profile.userAbout}}
                      <label class="active" for="about">Tell us more about your family and what you are looking for in a babysitter (bio)</label>
                    </div>
                  </div>
                  <div class="form-actions right-align">
                    <button class="btn waves-effect waves-light" type="submit">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/simple-form}}
        <div class="add-children">
          <h5 class="card-title add-children__title">Children</h5>

          {{#each model.profile.children as |child|}}
            <div class="add-children__card add-children__update">
              <div class="add-children__container">
                {{#simple-form startingValues=child onsubmit=(action "updateChild" child) as |newValues|}}
                  <div class="add-children__content">
                    <div class="row">
                      <div class="input-field col s6 add-children__content__column">
                        {{input class="add-children__content__input" type="text" class="validate" value=newValues.name}}
                        <label class="active" for="firstName">First Name</label>
                      </div>
                      <div class="input-field col s6 add-children__content__column">
                        {{input class="input-field col s6 add-children__content__input" type="number" class="validate" value=newValues.age}}
                        <label class="active" for="age">Age</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12 add-children__content__column">
                        {{input class="add-children__content__input" type="text" class="validate" value=newValues.careDetails.text}}
                        <label class="active" for="careDetails">Care Details</label>
                      </div>
                    </div>
                    <div class="row">
                      <button type="submit" class="add-children__button add-children__button__update">
                        Update
                      </button>
                    </div>
                  </div>
                {{/simple-form}}
              </div>
            </div>
          {{/each}}


          <div class="add-children__card">
            <div class="add-children__container">
              {{#simple-form onsubmit=(action "createChild" model.profile) startingValues=(hash careDetails=(hash)) as |childValues|}}
                <div class="add-children__content">
                  <div class="row">
                    <h5 class="card-title add-children__title">Add Child</h5>
                    <div class="input-field col s6 add-children__content__column">
                      {{input class="add-children__content__input" type="text" class="validate" value=childValues.name}}
                      <label for="firstName">First Name</label>
                    </div>
                    <div class="input-field col s6 add-children__content__column">
                      {{input class="input-field col s6 add-children__content__input" type="number" class="validate" value=childValues.age}}
                      <label for="age">Age</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 add-children__content__column">
                      {{input class="add-children__content__input" type="text" class="validate" value=childValues.careDetails.text}}
                      <label for="careDetails">Care Details</label>
                    </div>
                  </div>
                  <div class="row">
                    <button type="submit" class="add-children__button">Add Child</button>
                  </div>
                </div>
              {{/simple-form}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
