<div class="parent-sitter-banner">
  <div class="grid-container">
    <div class="parent-sitter-banner__content">
      <p>You are viewing families in your area.</p>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="row section">
    <div class="row card-row col s6 m12">
      {{#each model as |parent|}}
        <div class="col s12 m4">
          <div class="card sitter-card">
            <div class="card-image">
              <div class="card-image__wrapper">
                <img src="{{ parent.profile.userPicUrl }}">
              </div>
              <div class="card-image-gradient">
                <span class="card-title">{{ parent.profile.firstName }} {{ parent.profile.lastName }}</span>
              </div>
            </div>
            <div class="card-content family-info">
              <p>{{parent.profile.userBlurb}}</p>
              <p>Number of kids: {{ parent.profile.numberOfChildren }}</p>
              <p>Kids' Ages: {{ parent.profile.ageRange }}</p>
              <br>
              <div class="family-info-2">
                <p><i class="fa fa-map-pin"></i> {{ parent.profile.location }}</p>
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
              </div>
            </div>
            <div class="card-action user-action-icons">
              {{#link-to 'profile.view.parent' parent.id class="user-action-icons__button"}}
                <i class="fa fa-eye user-action-icons__item"></i>
              {{/link-to}}
              <button class="user-action-icons__button"><i class="fa fa-thumbs-o-up user-action-icons__item user-action-icons__thumbs-up"></i></button>
                {{#link-to 'conversation.start' parent.id class="user-action-icons__button"}}
              <i class="fa fa-envelope-o user-action-icons__item"></i>
                {{/link-to}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
