{{log session.currentUser.profile}}
<div class="app">
  <div class="grid-nav">
    <div class="grid-nav__container">
      <div class="grid-nav__content">

        <div class="grid-nav__left">
          {{#if session.isAuthenticated}}
          <span>Hello, {{session.currentUser.profile.firstName}}!</span>
          {{/if}}
        </div>
        <div class="grid-nav__center">
          {{#if session.isAuthenticated}}
          {{#link-to "user.index"}}<i class="fa fa-child grid-nav__logo" aria-hidden="true"></i>{{/link-to}}
          {{else}}
          {{#link-to "guest.welcome"}}<i class="fa fa-child grid-nav__logo" aria-hidden="true"></i>{{/link-to}}
          {{/if}}
        </div>

        <div class="grid-nav__right">
          {{#if session.isAuthenticated}}
            <ul class="grid-nav__right__list">
              <li class="grid-nav__right__list__item grid-nav__image circle">
                <button {{action "toggleBubble"}} class="grid-nav__right__button">
                  <div class="grid-nav__right__button__frame">
                    <img src="{{session.currentUser.profile.fullUserPicUrl}}" class="grid-nav__image__pic responsive-image circle">
                  </div>
                </button>
                <div class="bubble bubble__off">
                  <ul class="bubble__list">
                    <li class="bubble__list__item">
                      {{#link-to "user.profile.me"}}
                        <div class="bibble__list__item__span">View Profile</div>
                      {{/link-to}}
                    </li>
                    <li class="bubble__list__item">
                      {{#link-to "user.profile.edit"}}
                        <div class="bibble__list__item__span">Edit Profile</div>
                      {{/link-to}}
                    </li>
                    <li class="bubble__list__item">
                      <a {{action 'invalidateSession'}}>Logout</a>
                    </li>

                  </ul>
                </div>
              </li>
              <li class="grid-nav__right__list__item">
                {{#if (eq session.currentUser.accountType "parent") }}
                {{#link-to "user.sitter.index"}}
                <i class="fa fa-th-large grid-nav--icon" aria-hidden="true"></i>
                {{/link-to}}
                {{else}}
                {{#link-to "user.parent.index"}}
                <i class="fa fa-th-large grid-nav--icon" aria-hidden="true"></i>
                {{/link-to}}
                {{/if}}
              </li>
              <li class="grid-nav__right__list__item">
                {{#link-to "user.connection"}}<i class="fa fa-users grid-nav--icon" aria-hidden="true"></i>{{/link-to}}
              </li>
              <li class="grid-nav__right__list__item">
                {{#link-to "user.conversation"}}<i class="fa fa-comments grid-nav--icon" aria-hidden="true"></i>{{/link-to}}
              </li>
            </ul>
          {{else}}
            <div class="else-menu">
              <p class="else-menu__item">
                {{#link-to 'guest.login'}}Login{{/link-to}}
              </p>
              <p class="else-menu__item">
                {{#link-to 'guest.register'}}Register{{/link-to}}
              </p>
            </div>
          {{/if}}
        </div>

      </div>
    </div>
  </div>
  <div class="scroll-this-section">
    <main>

      <div class="flash-messages">
        {{#each flashMessages.queue as |flash|}}
          {{#flash-message flash=flash class="success-message" as |message|}}
            <div class="container">
              <div class="chip">
                {{flash.message}}
                <i class="close material-icons">close</i>
              </div>
            </div>
          {{/flash-message}}
        {{/each}}
      </div>

      {{outlet}}

    </main>
    <footer class="kin-footer hide-on-small-only">
      <div class="grid-nav__container">
        <div class="kin-footer__content">
          <div class="kin-footer__content__1">
            <p>&copy; Kin 2016</p>
          </div>
          <div class="kin-footer__content__2">
            <p>Created by Alex T Leach, Christopher Duke, and Hannah Swift.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
