<div class="container">
  <div class="card">
    <div class="profile-view-body">
      <div class="profile-view-container">
        <div class="profile-view-top">
          <div class="profile-view-top__image">
            <img src="{{ model.fullUserPicUrl }}" class="profile-view-top__image__pic circle responsive-image" alt="">
          </div>
          <div class="profile-view-top__info">
            <ul class="profile-view-top__info__list">
              <li class="profile-view-top__info__list__item">
                <span class="profile-view-top__info__list__name">{{ model.firstName }} {{ model.lastName }}</span>
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Rate:</strong>${{ model.sitterRate }}
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Rating:</strong>
                {{#each (range 1 6) as |value|}}
                  <i {{action "selectRating" model value}} class="fa {{if (gte model.profile.myRatingValue value) "fa-star" "fa-star-o"}}"></i>
                {{/each}}
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Phone: </strong>{{ model.phoneNumber }}
              </li>
            </ul>
          </div>
          <div class="profile-view-top__buttons">
            <i {{action "workPlease" model }} class="fa siamese {{if model.profile.isLiked "fa-thumbs-up" "fa-thumbs-o-up"}}"></i>

            {{!-- <i class="fa fa-thumbs-o-up right siamese"></i> --}}
            {{#link-to "user.conversation.start" model.id}}
              <i class="fa fa-envelope-o cat"></i>
            {{/link-to}}
          </div>
        </div>
        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            More About {{ model.firstName }}
          </div>
          <div class="profile-view-about__info">
            {{ model.userAbout }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
