{{log model.profile.children}}
<div class="container">
  <div class="card">
    <div class="profile-view-body">
      <div class="profile-view-container">
        <div class="profile-view-top">
          <div class="profile-view-top__image">
            <img src="{{ model.profile.fullUserPicUrl }}" class="profile-view-top__image__pic circle responsive-image" alt="">
          </div>
          <div class="profile-view-top__info">
            <ul class="profile-view-top__info__list">
              <li class="profile-view-top__info__list__item">
                <span class="profile-view-top__info__list__name">{{model.profile.firstName}}</span>
              </li>
              <li class="profile-view-top__info__list__item">
              {{#if (eq model.accountType "sitter")}}
              <strong>Hourly Rate:</strong> <i class="fa fa-usd"></i> {{model.profile.sitterRate}}
              {{else}}
              <strong>Number of Kids:</strong> {{model.profile.children.length}}
              {{/if}}
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Phone: </strong>
                {{model.profile.phoneNumber}}
              </li>
            </ul>
          </div>
        </div>

        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            Bio
          </div>
          <div class="profile-view-about__info">
            {{model.profile.userBlurb}}
          </div>
          <div class="profile-view-about__heading">
            More About {{model.profile.firstName}}
          </div>
          <div class="profile-view-about__info">
            {{model.profile.userAbout}}
          </div>
          {{#if (eq model.accountType "parent")}}
          <div class="profile-view-about__heading">
            Children
          </div>
          <div class="profile-view-about__info">
          {{#each model.profile.children as |child|}}
            <p>{{child.name}}, {{child.age}}</p>
          {{/each}}
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
