<div class="container">
  <div class="card">
    <div class="profile-view-body">
      <div class="profile-view-container">
        <div class="profile-view-top">
          <div class="profile-view-top__image">
            <img src="{{ model.userPicUrl }}" class="profile-view-top__image__pic circle responsive-image" alt="">
          </div>
          <div class="profile-view-top__info">
            <ul class="profile-view-top__info__list">
              <li class="profile-view-top__info__list__item">
                <span class="profile-view-top__info__list__name">{{ model.firstName }}</span>
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Age:</strong> {{ model.sitterAge }}
                <li class="profile-view-top__info__list__item">
                  <strong>Rate:</strong>${{ model.sitterRate }}
                </li>
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Years of Experience:</strong> {{ model.experience }}
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Rating:</strong> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Phone: </strong>{{ model.phoneNumber }}
              </li>
            </ul>
          </div>


          <div class="profile-view-top__buttons">
            <button class="btn profile-view-top__buttons__btn profile-view-top__buttons__btn__like">
              Like <i class="fa fa-thumbs-o-up right"></i>
            </button>
            <button class="btn profile-view-top__buttons__btn">
              Message <i class="fa fa-envelope-o right"></i>
            </button>
          </div>
        </div>



        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            About {{ model.firstName }}
          </div>
          <div class="profile-view-about__info">
            {{ model.aboutSitter }}
          </div>
        </div>
        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            Transportation and Travel
          </div>
          <div class="profile-view-about__info">
            {{ model.transportation }}
          </div>
        </div>
        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            Availability
          </div>
          <div class="profile-view-about__info">
            {{ model.availability }}
          </div>
        </div>
        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            Skills & Qualifications
          </div>
          <div class="profile-view-about__info">
            {{ model.skills }}
          </div>
        </div>
        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            Payment
          </div>
          <div class="profile-view-about__info">
            {{ model.payment }}
          </div>




          <div class="profile-view-about__heading">
            Connections
          </div>

          <div class="profile-view-connections">
            <div class="profile-view-connections__row">
              <div class="profile-view-connections__item">
                <div class="profile-view-connections__item__image">
                  <img src="http://placecera.com/gif/70/70" class="circle" alt="">
                </div>
                <div class="profile-view-connections__item__name">
                  <span>Michael</span>
                </div>
              </div>
              <div class="profile-view-connections__item">
                <div class="profile-view-connections__item__image">
                  <img src="http://placecera.com/70/70" class="circle" alt="">
                </div>
                <div class="profile-view-connections__item__name">
                  <span>Michael</span>
                </div>
              </div>
              <div class="profile-view-connections__item">
                <div class="profile-view-connections__item__image">
                  <img src="http://placecera.com/gif/70/70" class="circle" alt="">
                </div>
                <div class="profile-view-connections__item__name">
                  <span>Michael</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
