<div class="parent-sitter-banner">
  <div class="grid-container">
    <div class="parent-sitter-banner__content">
      <p>
        You are viewing sitters in your area.
        {{!-- {{#if (eq session.currentUser.accountType "parent")}} --}}
          {{#link-to "user.parent.index"}}
          View playdates instead.
          {{/link-to}}
        {{!-- {{/if}} --}}
      </p>
    </div>
  </div>
</div>

<div class="grid-container">
    <div class="row section">
      <div class="row card-row col s6 m12">
        {{#each model as |babysitter|}}
          <div class="col s12 m4">
          <div class="card sitter-card">
            {{#link-to "user.sitter.view" babysitter.profile.id}}
            <div class="card-image">
              <div class="card-image__wrapper">
                <img src="{{ babysitter.profile.fullUserPicUrl }}">
              </div>
              <div class="card-image-gradient">
                <span class="card-title">{{ babysitter.profile.firstName }} </span>
              </div>
            </div>
            {{/link-to}}
            <div class="card-content location-rating family-info">
              <p class="truncate">{{ babysitter.profile.userBlurb }}</p>
              <p>
                <i class="fa fa-usd"></i>{{ babysitter.profile.sitterRate }}
              </p>
              <br>
              <div class="family-info-2">
                <div class="their-location truncate"><i class="fa fa-map-pin"></i><span class="profile-location"> {{ babysitter.profile.location }} </span></div>
                <div class="star-rating right-align">
                  {{#each (range 1 6) as |value|}}
                  <i {{action "selectRating" babysitter value}} class="fa {{if (gte babysitter.profile.myRatingValue value) "fa-star" "fa-star-o"}}"></i>
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="card-action user-action-icons">
              {{#link-to 'user.sitter.view' babysitter.id class="user-action-icons__button"}}
                <i class="fa fa-fw fa-eye user-action-icons__item"></i>
              {{/link-to}}
              <span class="user-action-icons__button">
                <i {{action "workPlease" babysitter }} class="fa {{if babysitter.profile.isLiked "fa-thumbs-up" "fa-thumbs-o-up"}}"></i>
              </span>
              {{#link-to 'user.conversation.start' babysitter.id class="user-action-icons__button"}}
                <i class="fa fa-fw fa-envelope-o user-action-icons__item"></i>
              {{/link-to}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
