<div class="parent-sitter-banner">
  <div class="grid-container">
    <div class="parent-sitter-banner__content">
      <p>You are viewing sitters in your area</p>
    </div>
  </div>
</div>

<div class="grid-container">
    <div class="row section">
      <div class="row card-row col s6 m12">
        {{#each model as |babysitter|}}
          <div class="col s12 m4">
          <div class="card sitter-card">
            {{#link-to "user.sitter.view" babysitter.id}}
            <div class="card-image">
              <div class="card-image__wrapper">
                <img src="{{ babysitter.profile.fullUserPicUrl }}">
              </div>
              <div class="card-image-gradient">
                <span class="card-title">{{ babysitter.profile.firstName }} </span>
              </div>
            </div>
            {{/link-to}}
            <div class="card-content location-rating family-info">
              <p>{{ babysitter.profile.userBlurb }}</p>
              <p>
                <i class="fa fa-usd"></i>{{ babysitter.profile.sitterRate }}
              </p>
              <br>
              <div class="family-info-2">
                <p><i class="fa fa-map-pin"></i>{{ babysitter.profile.location }}</p>
                <p>
                  {{#each (range 0 5) as |value|}}
                  <i class="fa fa-star"></i>
                  {{/each}}
                </p>
              </div>
            </div>
            <div class="card-action user-action-icons">
              {{#link-to 'user.sitter.view' babysitter.id class="user-action-icons__button"}}
                <i class="fa fa-fw fa-eye user-action-icons__item"></i>
              {{/link-to}}
              <button {{action "like"}} class="user-action-icons__button">
                <i class="fa fa-fw fa-thumbs-o-up user-action-icons__item user-action-icons__thumbs-up"></i>
              </button>
              {{#link-to 'user.conversation.start' babysitter.id class="user-action-icons__button"}}
                <i class="fa fa-fw fa-envelope-o user-action-icons__item"></i>
              {{/link-to}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
