<div class="container">
  <div class="card">
    <div class="profile-view-body">
      <div class="profile-view-container">
        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            Ratings
          </div>
          <div class="profile-view-connections">
            <div class="profile-view-connections__row">
              {{#each model as |profile|}}
                <div class="profile-view-connections__item">
                  {{#link-to "user.sitter.view" profile.profile.id }}
                    <div class="profile-view-connections__item__image">
                      <img src="{{profile.profile.fullUserPicUrl}}" class="profile-view-connections__item__image__pic circle" alt="">
                    </div>
                  {{/link-to}}
                  <div class="profile-view-connections__item__name duck">
                    <span class="duck__item">{{profile.profile.firstName}}</span>
                    <span>
                      <i {{action "workPlease" profile }} class="fa {{if profile.profile.isLiked "fa-thumbs-up" "fa-thumbs-o-up"}}"></i>
                    </span>
                    <span>
                      {{#each (range 1 6) as |value|}}
                        <i {{action "selectRating" profile value}} class="fa {{if (gte profile.profile.myRatingValue value) "fa-star" "fa-star-o"}}"></i>
                      {{/each}}
                    </span>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
